<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="smdw_robot_base">

<gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>/home/imbatman/smdw_ws/src/smdw_robot_base/config/controller.yaml</parameters>
    </plugin>
</gazebo>

    <gazebo reference="front_left_base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="front_right_base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_left_base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>
    <gazebo reference="rear_right_base_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
    </gazebo>

    <gazebo reference="front_left_wheel_joint">
        <kp>10.0</kp>
        <ki>0.0</ki>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="front_right_wheel_joint">
        <kp>10.0</kp>
        <ki>0.0</ki>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rear_left_wheel_joint">
        <kp>10.0</kp>
        <ki>0.0</ki>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rear_right_wheel_joint">
        <kp>10.0</kp>
        <ki>0.0</ki>
        <kd>1.0</kd>
    </gazebo>

</robot>